@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.navbar-nav .nav-link {
  font-family: "Roboto", sans-serif !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  color: rgba(0, 0, 0, 0.748) !important;
}

.navbar-nav .nav-link:hover {
  font-size: 20px !important;
  font-weight: 600 !important;
  color: rgb(0, 187, 255) !important;
}
