<!--sidebar-->
<c-sidebar #sidebar="cSidebar" class="d-print-none sidebar sidebar-fixed" id="sidebar" visible>
  <c-sidebar-brand class="shadow-lg bg-light" [brandFull]="{
      src: 'assets/img/brand/un-women-logo.png',
      width: 200,
      height: 46,
      alt: 'UN Women Logo'
    }" [brandNarrow]="{
      src: 'assets/img/brand/un-women-logo.png',
      width: 46,
      height: 46,
      alt: 'UN Women Logo'
    }" routerLink="./" />

  <ng-scrollbar pointerEventsMethod="scrollbar" class="shadow-lg bg-info p-4 bg-opacity-50">
    <div class="font-weight-bold" style="font-size: 20px; color: black" *ngIf="userData && userData.role === 'Vendor'">
      <c-sidebar-nav [navItems]="navItems" dropdownMode="close" />
    </div>
    <div class="font-weight-bold" style="font-size: 20px; color: black" *ngIf="userData && userData.role === 'Mentor'">
      <c-sidebar-nav [navItems]="mentorNavItems" dropdownMode="close" />
    </div>
  </ng-scrollbar>

  <c-sidebar-toggler class="shadow-lg bg-info bg-opacity-50" *ngIf="!sidebar.narrow" toggle="unfoldable"
    cSidebarToggle="sidebar" />
</c-sidebar>




<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="sidebar" />
  <!--app-body-->
  <router-outlet />
  <div class="body flex-grow-1 px-3">
    <c-container breakpoint="lg" class="h-auto">
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer />
</div>