
.bg-image {
  background-image: url("../../../../assets//images/loginpage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



  .verification-message {
    color: #fb5d08;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Center the spinner-container */
  .d-flex.justify-content-center {
    align-items: center;
    min-height: 100vh;
  }
  

  .font-roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  