<div class="main-content font-roboto fw-bold">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Welcome {{ userData?.name }}</h4>
            <p class="card-category">My profile</p>
          </div>

          <div class="card-body">
            <!-- *ngIf="!Data || Data.length === 0" -->

            <div class="mx-5" *ngIf="!Data || Data.length === 0">
              <form [formGroup]="businessProfileForm" (ngSubmit)="onSubmit()" class="my-5">
                <h3>NOTE: All Fields Mark with <span style="color: red">**</span> are required <span
                    style="color: red">and all images should be less than 5mb</span></h3>
                <div class="row">

                  <div class="col-md-6 mb-4">
                    <div class="form-group">
                      <label for="businessName">Business Name <span style="color: red">**</span></label>
                      <input type="text" id="businessName" name="businessName" formControlName="businessName"
                        class="form-control form-control-lg shadow-lg" />
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div class="form-group">
                      <label for="businessEmail">Business Email <span style="color: red">**</span></label>
                      <input type="text" id="businessEmail" name="businessEmail" formControlName="businessEmail"
                        class="form-control form-control-lg shadow-lg" />
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div class="form-group">
                      <label for="businessPhoneNo">Business Phone No <span style="color: red">**</span></label>
                      <input type="text" id="businessPhoneNo" name="businessPhoneNo" formControlName="businessPhoneNo"
                        class="form-control form-control-lg shadow-lg" />
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div class="form-group">
                      <label for="businessSize">Business Size (No of Workers) <span style="color: red">**</span></label>
                      <input type="text" id="businessSize" name="businessSize" formControlName="businessSize"
                        class="form-control form-control-lg shadow-lg" />
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div class="form-group">
                      <label for="tagLine">Tag Line <span style="color: red">**</span></label>
                      <input type="text" id="tagLine" name="tagLine" formControlName="tagLine"
                        class="form-control form-control-lg shadow-lg" />
                    </div>
                  </div>


                  <div class="col-md-6 mb-4">
                    <div class="form-group">
                      <label for="businessAddress">Business Address <span style="color: red">**</span></label>
                      <input type="text" id="businessAddress" name="businessAddress" formControlName="businessAddress"
                        class="form-control form-control-lg shadow-lg" />
                    </div>
                  </div>

                  <div class="col-md-12 mb-4">
                    <div class="form-group">
                      <label for="businessBiography">Business Biography <span style="color: red">**</span></label>
                      <textarea id="businessBiography" name="businessBiography" rows="9"
                        formControlName="businessBiography" class="form-control form-control-lg shadow-lg"></textarea>
                    </div>
                  </div>


                  <div class="col-md-6 mb-4">
                    <div class="form-group">
                      <label for="businessCategory">Business Category <span style="color: red">**</span></label>
                      <select id="businessCategory" formControlName="businessCategory" required
                        class="form-control form-control-lg shadow-lg">
                        <option value="SME">Small and Medium-sized Enterprises (SME)</option>
                        <option value="SOHO">Small Office/Home Office (SOHO)</option>
                        <option value="MACRO">Macro Economics (MACRO)</option>
                        <option value="MICRO">Micro Businesses (MICRO)</option>

                      </select>
                    </div>
                  </div>



                  <div class="col-md-6 mb-4">
                    <div class="form-group">
                      <label for="certificate" class="pl-2">Business Logo <span style="color: red">**</span></label>
                      <div class="form-outline">
                        <input type="file" id="logo" name="logo" formControlName="logo"
                          (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png, ico, gif, svg" required
                          class="form-control form-control-lg shadow-lg" />
                      </div>
                    </div>
                  </div>



                  <div class="col-md-6 mt-4">
                    <div class="form-group">
                      <label for="certificate" class="pl-2">Business Certificate <span
                          style="color: red">**</span></label>
                      <div class="form-outline">
                        <input type="file" id="certificate" name="certificate" (change)="onFileSelected($event)"
                          accept=".jpg, .jpeg, .png, ico, gif, svg" required
                          class="form-control form-control-lg shadow-lg" />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 mt-4">
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary btn-lg mt-4" type="submit" (click)="onEditSubmit()"
                        [disabled]="isLoading">
                        Create Profile
                        <div class="spinner-border text-warning" role="status" *ngIf="isLoading">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <span *ngIf="isLoading" class="text-danger">{{ loadingMessage }}</span>
                      </button>
                    </div>
                  </div>


                </div>
              </form>
            </div>
          </div>

          <div class="card-body" *ngIf="Data?.length > 0">

            <form [formGroup]="businessProfileForm" (ngSubmit)="onEditSubmit()" class="my-5">
              <h6 class="fw-bold display-6">You can make changes to your profile here</h6>
              <span style="color: red">All images should be less than 5mb</span>

              <div class="row">

                <div class="col-md-6 mb-4">
                  <div class="form-group">
                    <label for="businessName">Business Name <span style="color: red">**</span></label>
                    <input type="text" id="businessName" name="businessName" formControlName="businessName"
                      class="form-control form-control-lg shadow-lg" />
                  </div>
                </div>



                <div class="col-md-6 mb-4">
                  <div class="form-group">
                    <label for="businessSize">No of Workers <span style="color: red">**</span></label>
                    <input type="text" id="businessSize" name="businessSize" formControlName="businessSize"
                      class="form-control form-control-lg shadow-lg" />
                  </div>
                </div>



                <div class="col-md-6 mb-4">
                  <div class="form-group">
                    <label for="tagLine">Tag Line <span style="color: red">**</span></label>
                    <input type="text" id="tagLine" name="tagLine" formControlName="tagLine"
                      class="form-control form-control-lg shadow-lg" />
                  </div>
                </div>


                <div class="col-md-6 mb-4">
                  <div class="form-group">
                    <label for="businessAddress">Business Address <span style="color: red">**</span></label>
                    <input type="text" id="businessAddress" name="businessAddress" formControlName="businessAddress"
                      class="form-control form-control-lg shadow-lg" />
                  </div>
                </div>


                <div class="col-md-12 mb-4">
                  <div class="form-group">
                    <label for="businessBiography">Business Biography <span style="color: red">**</span></label>
                    <textarea id="businessBiography" name="businessBiography" formControlName="businessBiography"
                      rows="9" class="form-control form-control-lg shadow-lg"></textarea>
                  </div>
                </div>

                <div class="col-md-6 mt-4">
                  <div class="form-group">
                    <label for="businessCategory">Business Category <span style="color: red">**</span></label>
                    <select id="businessCategory" formControlName="businessCategory" required
                      class="form-control form-control-lg shadow-lg">
                      <option value="SME">Small and Medium-sized Enterprises (SME)</option>
                      <option value="SOHO">Small Office/Home Office (SOHO)</option>
                      <option value="MACRO">Macro Economics (MACRO)</option>
                      <option value="MICRO">Micro Businesses (MICRO)</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6 mt-4">
                  <div class="form-group">
                    <label for="certificate" class="pl-2">Business Logo <span style="color: red">**</span></label>
                    <div class="form-outline">
                      <input type="file" id="logo" name="logo" formControlName="logo" (change)="onFileSelected($event)"
                        accept=".jpg, .jpeg, .png, ico, gif, svg" required
                        class="form-control form-control-lg shadow-lg" />
                    </div>
                  </div>
                </div>



                <div class="col-md-6 mt-4">
                  <div class="form-group">
                    <label for="certificate" class="pl-2">Business Certificate <span
                        style="color: red">**</span></label>
                    <div class="form-outline">
                      <input type="file" id="certificate" name="certificate" (change)="onFileSelected($event)"
                        accept=".jpg, .jpeg, .png, ico, gif, svg" required
                        class="form-control form-control-lg shadow-lg" />
                    </div>
                  </div>
                </div>

                <div class="col-md-6 mt-4">
                  <div class="d-grid gap-2">
                    <button class="btn btn-primary btn-lg mt-4" type="submit" (click)="onEditSubmit()"
                      [disabled]="isLoading">
                      Update Profile
                      <div class="spinner-border text-warning" role="status" *ngIf="isLoading">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                      <span *ngIf="isLoading" class="text-danger">{{ loadingMessage }}</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>


            <div id="carouselExampleCaptions" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="img-fluid" style="height: 400px; width: 100%" [src]="Data[0].businessLogo" alt="..." />
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Business Logo</h5>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="img-fluid" style="height: 400px; width: 100%" [src]="Data[0].registredCertificate"
                    alt="..." />
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Business Certificate</h5>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <!-- <div class="">
            <div class="card card-profile">
              <div class="card-body">
                <div class="text-center py-2">
                  <p class="h6 text-decoration-none m-1">
                    Business Name
                    <span class="badge bg-secondary">{{
                      Data[0].businessName
                      }}</span>
                  </p>
                </div>
                <div class="text-center py-2">
                  <p class="h6 text-decoration-none m-1">
                    Business Owner
                    <span class="badge bg-success">{{
                      Data[0].CreatedBy
                      }}</span>
                  </p>
                </div>

                <div class="text-center py-2">
                  <p class="h6 text-decoration-none m-1">
                    Tagline
                    <span class="badge bg-secondary h6 text-decoration-none m-1">{{
                      Data[0].tagLine
                      }}</span>
                  </p>
                </div>
                <h5>
                  Category
                  <span class="badge bg-secondary">{{
                    Data[0].businessCategory
                    }}</span>
                </h5>
                <h5>
                  Address
                  <span class="badge bg-secondary">{{
                    Data[0].businessAddress
                    }}</span>
                </h5>
                <h5>
                  Business Size
                  <span class="badge bg-secondary">{{
                    Data[0].businessSize
                    }}</span>
                </h5>

                <div *ngIf="Data?.length > 0">
                  <p class="card-description">
                    {{ Data[0].businessBiography }}
                  </p>
                </div>
                <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
              </div>
            </div>
          </div> -->





          </div>
        </div>
      </div>





      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img-fluid w-100 rounded" [src]="userData?.url" alt="" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray fw-bold">
              Login As <span class="badge bg-info">{{ userData?.role }}</span>
            </h6>
            <h6 class="card-title fw-bold">
              User Name
              <span class="badge bg-secondary">{{ userData?.name }}</span>
            </h6>
            <h6 class="card-title fw-bold">
              Email <span class="badge bg-primary">{{ userData?.email }}</span>
            </h6>
            <h6 class="card-title fw-bold">
              Phone No
              <span class="badge bg-dark">{{ userData?.phoneNo }}</span>
            </h6>
            <h6 class="card-title fw-bold">
              Address
              <span class="badge bg-warning">{{ userData?.homeAddress }}</span>
            </h6>
            <h6 class="card-title fw-bold">
              Unique Id
              <span class="badge bg-danger">{{ userData?.uuid }}</span>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>