<div class="bg-image">
  <h3></h3>
  <c-container>
    <c-row class="justify-content-center rounded">
      <img
        src="../../../../assets/img/brand/un-women-logo.png"
        alt=""
        class="img-fluid"
        style="max-width: 60%"
      />

      <div class="container py-5 h-80">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem">
              <div class="row g-0">
                <form
                  (ngSubmit)="onSubmit()"
                  class="rounded my-3 p-4"
                  #userForm="ngForm"
                >
                  <h2
                    class="font-weight-bold text-center"
                    style="font-weight: 700; color: rgba(0, 0, 0, 0.616)"
                  >
                    Create An Account With Us Today For Free
                  </h2>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="name"
                          name="name"
                          [(ngModel)]="user.name"
                          required
                          class="form-control form-control-lg shadow-lg"
                          #nameField="ngModel"
                        />
                        <label class="form-label" for="firstName"
                          >Full Name</label
                        >
                        <!-- Error message -->
                        <div
                          *ngIf="
                            nameField.invalid &&
                            (nameField.dirty || nameField.touched)
                          "
                          class="alert alert-danger"
                        >
                          Full Name is required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="email"
                          id="email"
                          name="email"
                          [(ngModel)]="user.email"
                          required
                          class="form-control form-control-lg shadow-lg"
                          #emailField="ngModel"
                        />
                        <label class="form-label" for="Email">Email</label>
                        <div
                          *ngIf="
                            emailField.invalid &&
                            (emailField.dirty || emailField.touched)
                          "
                          class="alert alert-danger"
                        >
                          Email is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">
                      <div class="form-outline datepicker w-100">
                        <select
                          class="form-select form-select-lg shadow-lg"
                          aria-label=".form-select-lg example"
                          id="role"
                          name="role"
                          [(ngModel)]="user.role"
                          required
                          #roleField="ngModel"
                        >
                          <option selected>Sign In As</option>
                          <option value="Customer">Customer</option>
                          <option value="Vendor">Vendor</option>
                          <option value="Mentor">Mentor</option>
                        </select>

                        <label for="role" class="form-label">Sign in As</label>
                        <div
                          *ngIf="
                            roleField.invalid &&
                            (roleField.dirty || roleField.touched)
                          "
                          class="alert alert-danger"
                        >
                          Role is required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 d-flex align-items-center">
                      <div class="form-outline datepicker w-100">
                        <input
                          type="tel"
                          id="phoneNo"
                          name="phoneNo"
                          [(ngModel)]="user.phoneNo"
                          required
                          class="form-control form-control-lg shadow-lg"
                          #phoneNoField="ngModel"
                        />
                        <label for="phoneno" class="form-label">Phone No</label>
                        <div
                          *ngIf="
                            phoneNoField.invalid &&
                            (phoneNoField.dirty || phoneNoField.touched)
                          "
                          class="alert alert-danger"
                        >
                          Phone Number is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="password"
                          id="password"
                          name="password"
                          [(ngModel)]="user.password"
                          required
                          class="form-control form-control-lg shadow-lg"
                          #passwordField="ngModel"
                        />
                        <label class="form-label" for="emailAddress"
                          >Password</label
                        >
                        <div
                          *ngIf="
                            passwordField.invalid &&
                            (passwordField.dirty || passwordField.touched)
                          "
                          class="alert alert-danger"
                        >
                          Password is required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="password"
                          id="confPassword"
                          name="confPassword"
                          [(ngModel)]="user.confPassword"
                          required
                          class="form-control form-control-lg shadow-lg"
                          #confPasswordField="ngModel"
                        />
                        <label class="form-label" for="confPassword"
                          >Confirm Password</label
                        >
                        <div
                          *ngIf="
                            confPasswordField.invalid &&
                            (confPasswordField.dirty ||
                              confPasswordField.touched)
                          "
                          class="alert alert-danger"
                        >
                          Confirm Password is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="homeAddress"
                          name="homeAddress"
                          [(ngModel)]="user.homeAddress"
                          required
                          class="form-control form-control-lg shadow-lg"
                          #homeAddressField="ngModel"
                        />
                        <label class="form-label" for="role"
                          >Home Address</label
                        >
                        <div
                          *ngIf="
                            homeAddressField.invalid &&
                            (homeAddressField.dirty || homeAddressField.touched)
                          "
                          class="alert alert-danger"
                        >
                          Address is required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="file"
                          id="file"
                          name="file"
                          (change)="onFileSelected($event)"
                          accept=".jpg, .jpeg, .png"
                          required
                          class="form-control form-control-lg shadow-lg"
                        />
                        <label class="form-label" for="profileimage"
                          >Profile Image</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="text-right">
                    <a href="/login"  style="text-decoration: none;">Already have an Account?</a>
                  </div>
                  

                  <div class="mt-4 pt-2">
                    <div class="d-grid gap-2">
                      <button
                        class="btn btn-primary btn-lg"
                        type="submit"
                        [disabled]="userForm.invalid"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </c-row>
  </c-container>
</div>
