<div class="bg-image font-roboto fw-bold">
    <c-container>
        <c-row class="justify-content-center rounded">

            <div class="container py-5 h-80">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                        <div class="card" style="border-radius: 1rem  bg-primary bg-opacity-10">
                            <div class="row g-0">
                                <div class="col-md-6 col-lg-5 d-none d-md-block bg-info">
                                    <img src="../../../../assets//images/loginImg.jpg" alt="login form"
                                        class="img-fluid" style=" height:650px" />
                                </div>
                                <div
                                    class="col-md-6 col-lg-7 d-flex align-items-center bg-primary bg-opacity-10 shadow-lg">
                                    <div class="card-body p-4 p-lg-4 text-black">
                                        <form (ngSubmit)="resetPassword()" #userForm="ngForm">
                                            <div class="d-flex align-items-center mb-2 pb-1">

                                                <span class="h1 fw-bold mb-0"><img
                                                        src="../../../../assets/img//brand/un-women-logo.png"
                                                        alt="login form" class="img-fluid"
                                                        style="border-radius: 1rem 0 0 1rem" /></span>
                                            </div>

                                            <h5 class="fw-normal mb-2 pb-3" style="letter-spacing: 1px">
                                                Set A New Password
                                            </h5>
                                            <div class="error-message text-danger text-center" *ngIf="errorMessage">
                                                <h4>{{ errorMessage }}</h4>
                                            </div>



                                            <div class="row">
                                                <div class="col-md-6 mb-4 pb-2">
                                                    <div class="form-outline">
                                                        <input type="password" id="password" name="password"
                                                            [(ngModel)]="password" required [attr.minlength]="8"
                                                            [pattern]="'^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])'"
                                                            class="form-control form-control-lg shadow-lg"
                                                            #passwordField="ngModel" />
                                                        <label class="form-label" for="password">Password <span
                                                                style="color: red">**</span></label>
                                                        <div
                                                            *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)">
                                                            <div *ngIf="hasError(passwordField, 'required')">Password is
                                                                required.</div>
                                                            <div *ngIf="hasError(passwordField, 'minlength')">Password
                                                                must be at least 8 characters long.
                                                            </div>
                                                            <div *ngIf="hasError(passwordField, 'pattern')">
                                                                Password must contain at least one lowercase letter, one
                                                                uppercase letter, one digit, and
                                                                one special character.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-4 pb-2">
                                                    <div class="form-outline">
                                                        <input type="password" id="confPassword" name="password"
                                                            [(ngModel)]="confPassword" required [attr.minlength]="8"
                                                            [pattern]="'^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])'"
                                                            class="form-control form-control-lg shadow-lg"
                                                            #confPasswordField="ngModel" />
                                                        <label class="form-label" for="confPassword">Confirm Password
                                                            <span style="color: red">**</span></label>
                                                        <div
                                                            *ngIf="confPasswordField.invalid && (confPasswordField.dirty || confPasswordField.touched)">
                                                            <div *ngIf="hasError(confPasswordField, 'required')">
                                                                Password is required.</div>
                                                            <div *ngIf="hasError(confPasswordField, 'minlength')">
                                                                Password must be at least 8 characters
                                                                long.
                                                            </div>
                                                            <div *ngIf="hasError(confPasswordField, 'pattern')">
                                                                Password must contain at least one lowercase letter, one
                                                                uppercase letter, one digit, and
                                                                one special character.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>




                                            <div class="d-grid pt-1 mb-2 shadow-lg">
                                                <button class="btn btn-info btn-lg shadow-lg fw-bold position-relative"
                                                    style="background-color: #009edd; border: none" type="submit">
                                                    Create New Password
                                                    <div class="spinner-border text-info" role="status"
                                                        *ngIf="isLoading">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div>
                                                </button>
                                            </div>
                                            <p class="pb-lg-2" style="color: #393f81">
                                                Back to Login?
                                                <a href="/login" style="color: #393f81">Register here</a>
                                            </p>

                                            <p class="pb-lg-2" style="color: #393f81">
                                                <a href="/home" style="color: #393f81">Back to Home</a>
                                            </p>

                                            <a href="#!" class="small text-muted">Terms of use.</a>
                                            <a href="#!" class="small text-muted">Privacy policy</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </c-row>
    </c-container>
</div>



<!-- Footer  -->
<app-footer> </app-footer>