<div *ngIf="successMessage" class="font-roboto success-message shadow-lg">
    <div class="font-roboto alert alert-success" role="alert">
        {{ successMessage }}
    </div>
</div>
<div *ngIf="errorMessage" class=" font-roboto error-message shadow-lg py-4">
    <div class="alert alert-danger" role="alert">
        {{ errorMessage }}
    </div>
</div>
<div class="modal-body font-roboto">
    <div>
        <c-row class="justify-content-center fw-bold">
            <c-col xs="12" sm="10" md="2" lg="12" class="bg-light dark:bg-transparent">
                <c-col xs="12" sm="10" md="2" lg="12">
                    <form (ngSubmit)="sendResetRequest()" class="row g-3 loan-form py-4 px-5 shadow-lg">

                        <c-col [md]="12">
                            <label cLabel for="email">Email Address <span
                                    style="color: Red; font-weight: 900;">*</span></label>
                            <input cFormControl type="email" placeholder="example@gmail.com" id="email" class="form-control-lg shadow-lg"
                                name="startDate" [(ngModel)]="email" />
                        </c-col>

                        <c-col [md]="12">
                            <label cLabel for="Submit" style="color: rgba(255, 255, 255, 0)">Send</label>
                            <button cButton cFormControl color="info" type="submit"
                                class="form-control shadow-lg btn-lg text-white">Send</button>
                        </c-col>
                    </form>
                </c-col>
            </c-col>
        </c-row>
    </div>
</div>
